<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <style>
        h1{
            text-align: center;
        }
        .error{
            color: red;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/blog'>Blog List</a></li>
            <li><a href='/newpost'>Write a Blog</a></li>
            <li><a href='/login'>Login</a></li>
            <li><a href='/logout'>Logout</a></li>
        </ul>
    </nav>
    </br>
    </br>

    {% block content %}
    {% endblock %}

</body>
</html>

  